apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: devops-app
        image: manasabreddy/devops-mansa-app:2acb513f3ce8dbd577921f9d6034f1562e62f052
        ports:
        - containerPort: 1000
